.container
  .row
    .col-sm-5
      = link_to image_tag("MFC Logo.jpg", size: "100x100"), root_path, class: "img-responsive"
    .col-sm-3.col-sm-offset-4.row-main
      %form.form-inline
        .form-group
          %label.sr-only{:for => "Search"} Search
        .input-group.has-feedback
          %input.form-control{:type => "Search", :placeholder => "Search"}/
%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".js-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.js-navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to "Shop Accessories", "http://montanafly.shptron.com"
        %li.dropdown.mega-dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            Products
          %ul.dropdown-menu.mega-dropdown-menu
            %li.col-sm-3
              %ul
                %li.dropdown-header.banner New Product
                %figure.text-center
                  %img{:alt => "", :src => "http://www.fullingmill.com/c.3752701/FM-US/images/fly_new_placeholder.jpg"}
                    %figcaption
                      %div New Flies
                      .banner See the Full Range
            %li.col-sm-3
              %ul
                %li.dropdown-header Features
                %li
                  %a{:href => "#"} Auto Carousel
                %li
                  %a{:href => "#"} Carousel Control
                %li
                  %a{:href => "#"} Left & Right Navigation
                %li
                  %a{:href => "#"} Four Columns Grid
                %li.divider
                %li.dropdown-header Fonts
                %li
                  %a{:href => "#"} Glyphicon
                %li
                  %a{:href => "#"} Google Fonts
            %li.col-sm-3
              %ul
                %li.dropdown-header Plus
                %li
                  %a{:href => "#"} Navbar Inverse
                %li
                  %a{:href => "#"} Pull Right Elements
                %li
                  %a{:href => "#"} Coloured Headers
                %li
                  %a{:href => "#"} Primary Buttons & Default
            %li.col-sm-3
              %ul
                %li.dropdown-header Much more
                %li
                  %a{:href => "#"} Easy to Customize
                %li
                  %a{:href => "#"} Calls to action
                %li
                  %a{:href => "#"} Custom Fonts
                %li
                  %a{:href => "#"} Slide down on Hover
        %li= link_to "About Us", "#"
        %li= link_to "Buy MFC Swag", "#"
        %li= link_to "Fly Designers", designers_path
        %li= link_to "Artists", artists_path
        %li= link_to "Blog", "#"
        %li= link_to "Retailer Location", "#"
        %li= link_to "Contact Us", "#"

