= form_for @designer, html: { multipart: true } do |f|
  - if @designer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@designer.errors.count, "error")} prohibited this designer from being saved:"
      %ul
        - @designer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :lastname
    = f.text_field :lastname
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :image
    = f.file_field :image
    - if f.object.image?
      = image_tag f.object.image.thumb.url
      = f.label :remove_image
      = f.check_box :remove_image
  .actions
    = f.submit 'Save'
