%p#notice= notice
.container
  .row
    .col-sm-8
      .text-center
        = image_tag @designer.image.url, size: "500x350"
      %p.text-justify
        %strong= @designer.firstname + " " + @designer.lastname
        = @designer.description
      = link_to 'Edit', edit_designer_path(@designer)
      \|
      = link_to 'Back', designers_path
    .col-sm-4
      facebook


